@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');
@import url('http://fonts.cdnfonts.com/css/cursed-timer-ulil');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1B244A;
}
.container h3{
    color: white;
    margin-right: 106px;
    font-size: 42px;
    font-family: 'Open Sans', sans-serif;
    padding-left: 15px;
}
.guest{
    margin-left: 12px;
}
.home-score, .guest-score{
    border-radius: 8px;
    height: 155px;
    width: 160px;
    background-color: black;
    color: #F94F6D;
}

.home-score h1, .guest-score h1{
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: 90px;
    text-align: center;
    padding-top: 30px;
}
.add-points button{
    color: #9AABD8;
    font-family: 'Cursed Timer ULiL', sans-serif;
    border: 2px solid #9AABD8;
    background-color: transparent;
    border-radius: 6px;
    width: 48px;
    height: 60px;
    font-size: 26px;
}
.add-points button:hover{
    cursor: pointer;
}
.add-points{
    margin-top: 26px;
    display: flex;
    justify-content: center;
    gap: 15px;
    width: 160px;
    margin-bottom: 100px;
}
.reset{
    position: relative;
    top: 200px;
    right: 340px;
}
.reset button{
    border: 2px solid black;
    border-radius: 8px;
    font-size: 28px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #fff;
    text-transform: uppercase;
}
.reset button:hover{
    cursor: pointer;
}